**/.env
**/.env.*
!**/.env.example

*.log
*.pid

storage/

backend/data/*.db

**/__pycache__/
**/*.py[cod]

**/.venv/
**/venv/

node_modules/
dist/
build/
.next/
.nuxt/
.cache/

**/*.tsbuildinfo

.DS_Store
